@import url("https://use.typekit.net/ndg2ebt.css");

p{
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 10px;
}

h1 {
  font-family: 'bio-sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  text-align: right;
}

h2{
  font-family: 'bio-sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;

}

h2 small{
    font-size: .6em;
    font-weight: 300;
    text-transform: lowercase;
    /* float: right;
    vertical-align: text-bottom;
    line-height: 3em; */
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

#project a{
    font-style: italic;
}

@media only screen and (min-width : 768px){
  .container{
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }
}

@media only screen and (min-width : 1224px){
  .container{
    width: 700px;
    margin: auto;
    margin-top: 50px;
  }
}

.carousel {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.flickity-page-dots {
    display: none;
}

video, #florals {
    margin-bottom: 80px;
}

#mgfxvid {
    margin-top: 20px;
}


.carousel img{
    width: 101%;
    height: auto;
}


.accent-break-top{
    width: 50px;
    border-bottom: 8px solid #FC6264;
    margin-bottom: 10px;
    margin-top: 40px;
}

.accent-break{
    width: 50px;
    border-bottom: 8px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

#pinkpurple{border-color: #a764a8;}
#wifi{border-color: #385C7A;}
#fuck{border-color: #d02630;}
#gogo{border-color: #FC6264;}
#mgfx{border-color: #9AC4B8;}
#sea{border-color: #0c123a;}
#eat{border-color: #72c7b0;}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.info{
    border-bottom: 8px solid red;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

#contact{
    margin-top: 40px;
    width: 100%;
}

#contact p {
    font-family: 'bio-sans', sans-serif;
    font-weight: 300;
    font-size: 1em;

}

#headshot{
    margin-top: 2
    margin-bottom: 30px;
}

#name, #email, #message {
    width: 100%;
    height: 25px;
}

#message{
    height: 100px;
}

a:hover {
    color: #EC5961;
}
